In [1]:
# All necessary library
import json
import time
import requests
import pandas as pd

In [2]:
# Set the country. Exp : Malaysia, United Kingdom
insert_country = "Insert here"

# To replace space with %20, can be replace with + sign too
country_replace = insert_country.replace(" ", "%20")

In [3]:
# Declaring the url
pagging_url = "http://universities.hipolabs.com/search?country=" + country_replace
print(pagging_url)

# To read json data
r = requests.get(pagging_url)
r = r.json()

# Because in this data got duplicate, need to prevent it on the last repetition. So, divide half
# Exp Data: Uniten, UM, UMT, Uniten, UM, UMT 
total_university = len(r)/2

http://universities.hipolabs.com/search?country=Insert%20here

In [4]:
# Retrieving the data if the country spelling & spacing is correct and the data is there in database
if total_university != 0.0:
    results=[]
    
    for data in r:
        transformed_data = {
            'university_name': data['name'],
            'state': data['state-province'],
            'nation': data['country'],
            'country_code': data['alpha_two_code'],
            'email_domain': data['domains'][0],
            'website': data['web_pages'][0]
        }
        results.append(transformed_data)
        print("University Added No", len(results),", " + transformed_data["university_name"])
        
        #To prevent duplicate data from come in
        if len(results) == total_university:
              break



    # Save data into CSV
    df = pd.DataFrame(results)
    df.to_csv('University.csv',
              index=False, encoding='utf-8')
    
# If wrong spelling or spacing for country no data in databases
elif total_university == 0.0:
    print("Note : Please recorrect your country spelling or the chosen country is not in the databases")
    df = "No data"

Note : Please recorrect your country spelling or the chosen country is not in the databases

In [5]:
# To check the data content. 
print(df)

No data